{
    "discordToken": "",
    "devID": "",
    "serverID":"",
    "riotAPIToken": "",
    "commandPrefix": "!",
    "defaultBotChannelName":"general",
    "modRole":"Bot Access",
    "status":"STREAMING",
    "twitchLink":"https://www.twitch.tv/twitch",
    "updateAccountByDiscordName": true,
    "updateAccountByDiscordName": true,
    "mongoElyonMemberListPath": "./util/elyonMembersList.json",
    "elyonMembersListPath":"./util/elyonMembersList.json",
    "listeningMessageEmojisPath":"./util/elyonListeningMessageEmojis.json",
    "elyonMemberClass": "./util/member.js", 
    "LeagueAccountClass": "./util/LeagueAccount.js", 
    "ListeningMessageEmojiClass": "./util/ListeningMessageEmoji.js", 
    "ModApprovalEmojiClass": "./util/ModApprovalEmoji.js", 
    "RSVPApprovalEmojiClass": "./util/RSVPApprovalEmoji.js",
    "QuickInhouseListeningMessageEmojiClass": "./util/QuickInhouseListeningMessageEmoji.js",
    "checkMarkEmojiName":"✅",
    "xMarkEmojiName":"❎",
    "refreshLeagueAccountTime": "86400000",
    "readMemberDataFromFileInsteadOfSheets": true,
    "writeMemberDataToFileInsteadOfSheets": true,
    "elyonBotSheetsTokenFile":"./bot-google-sheets-token.json",
    "elyonMemberDataSheetURL":"",
    "elyonMemberDataSheetPageIndex":"0",
    "mongoURIPart1":"",
    "mongoUsername":"",
    "mongoURIPart2":"",
    "mongoPass":"",
    "mongoURIPart3":"",
    "dbName": "",
    "mongoURIPart4":""
}